<div class="sidebar text-light vh-100 p-4">
  
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
        <span>🏠</span> Home
      </a>
    </li>
    
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
        <span>📊</span> Dashboard
      </a>
    </li>
    
    <li class="nav-item">
      <a routerLink="/tasks" routerLinkActive="active" class="nav-link">
        <span>📋</span> Tasks
      </a>
    </li>
    
    <li class="nav-item">
      <a routerLink="/calendar" routerLinkActive="active" class="nav-link">
        <span>📅</span> Calendar
      </a>
    </li>
  </ul>

</div>