html, body {

  height: 100%;
  margin: 0;

}

app-root {

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.main-wrapper {

  flex: 1;

}

.sidebar {

  height: 100%;
}

footer {

  margin-top: auto;

}
body.dark-mode {

  background-color: #121212;
  color: white;

}

body.dark-mode .card {

  background-color: #1e1e1e;
  color: white;

}

body.dark-mode .navbar {

  background-color: #1e1e1e !important;

}

body.dark-mode .sidebar {

  background-color: #1e1e1e !important;

}

body.dark-mode .nav-link {

  color: white !important;

}
body.dark-mode {

  background-color: #121212;
  color: white;

}

body.dark-mode .card {

  background-color: #1e1e1e;
  color: white;

}
body.dark-mode {

  background-color: #121212;
  color: white;

}

body.dark-mode .card {

  background-color: #1e1e1e;
  color: white;

}

body.dark-mode .navbar {

  background-color: #1e1e1e !important;

}

body.dark-mode .sidebar {

  background-color: #1e1e1e !important;

}
/* GLOBAL DARK MODE BACKGROUND */

body.dark-mode {

  background-color: #121212 !important;
  color: #ffffff !important;

}


/* CARDS */

body.dark-mode .card {

  background-color: #1e1e1e !important;
  color: #ffffff !important;
  border-color: #333 !important;

}


/* INPUTS */

body.dark-mode .form-control {

  background-color: #2a2a2a !important;
  color: #ffffff !important;
  border: 1px solid #444 !important;

}

body.dark-mode .form-control::placeholder {

  color: #bbbbbb !important;

}


/* SELECT */

body.dark-mode select.form-control {

  background-color: #2a2a2a !important;
  color: #ffffff !important;

}


/* BUTTONS */

body.dark-mode .btn-primary {

  background-color: #0d6efd !important;

}

body.dark-mode .btn-danger {

  background-color: #dc3545 !important;

}


/* SIDEBAR */

body.dark-mode .sidebar {

  background-color: #1a1a1a !important;

}


/* NAVBAR */

body.dark-mode .navbar {

  background-color: #1a1a1a !important;

}


/* LIST ITEMS */

body.dark-mode .border {

  border-color: #333 !important;

}


/* SEARCH BAR */

body.dark-mode input[type="text"],
body.dark-mode input[type="date"] {

  background-color: #2a2a2a !important;
  color: white !important;

}


/* PROGRESS BAR BACKGROUND */

body.dark-mode .progress {

  background-color: #333 !important;

}


/* DROPDOWN */

body.dark-mode option {

  background-color: #2a2a2a;
  color: white;

}
body.dark-mode .task-card {

  background: #1e1e1e;

}
body.dark-mode .task-form-card {

  background: #1e1e1e;

}

body.dark-mode .modern-input {

  background: #2a2a2a;

  color: white;

  border-color: #444;

}
body.dark-mode {

  background: #020617;

  color: white;

}